body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #000080;
    position: relative;
    text-align:center;
    font-size: 80px;
    margin: 30px 0;
}
.container1, .container2{
    min-height: 150px;
    border-radius: 10px;
}
.container1{
    background: #FF9933;
    margin-top: 70px;
}
.container2{
    background: #138808;
    margin: 0;
}